<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.memberMapper">

<!--   <select id="selectBlog" resultType="Blog"> -->
<!--     select * from Blog where id = #{id} -->
<!--   </select> -->

<!--  물음표? 대신 memberDTO 멤버변수 이름 적어줌 #{}-->
  <insert id="insertMember">
  	insert into members(id,pass,name,date)
  	values(#{id},#{pass},#{name},#{date})
  </insert>
  
</mapper>